.tickQuestionImg{
  width: 600px;
  height: 450px;
}

.ant-table-cell {
  height: 70px; /* 设置列单元格高度 */
}

// .tickQuestionTable {
//   background-color: #dce5f6; /* 设置背景色 */
// }

// .tickQuestionTable .ant-table-tbody > tr > td {
//   // background-color: #dce5f6e5; /* 设置表格单元格背景色 */
// }

.tick-mark{
  font-size: 22px;
  font-weight: bold;
  color: red;
}